<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:ex="http://www.springframework.org/schema/ex"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
				http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
				http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
				http://www.springframework.org/schema/ex http://www.springframework.org/schema/ex/spring-ex-2.5.xsd"
	default-autowire="byName" default-init-method="init">


	<tx:annotation-driven transaction-manager="transactionManager" />

	<!-- 定义数据源 -->
	<bean id="MyDataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName">
			<value>com.mysql.jdbc.Driver</value>
		</property>
		<property name="url">
<!-- 			<value>jdbc:mysql://127.0.0.1:3306/test?useUnicode=true&amp;characterEncoding=gbk&amp;zeroDateTimeBehavior=convertToNull</value> -->
		<value>jdbc:mysql://localhost:3306/xuzhou_dw?useUnicode=true&amp;characterEncoding=gbk&amp;zeroDateTimeBehavior=convertToNull</value>
		</property>
		<property name="username">
<!-- 			<value>root</value> -->
			<value></value>
		</property>
		<property name="password">
<!-- 			<value>root</value> -->
			<value></value>
		</property>
		<property name="maxActive">
			<value>150</value>
		</property>
		<property name="maxIdle">
			<value>30</value>
		</property>
		<property name="maxWait">
			<value>18000</value>
		</property>
		<property name="defaultAutoCommit">
			<value>false</value>
		</property>
	</bean>
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource">
			<ref bean="MyDataSource" />
		</property>
	</bean>
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="MyDataSource" />
        <property name="configLocation" value="classpath:config_spring/mybatis-config.xml" />
    </bean>
    
</beans>